body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #50b3a2;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

.card {
    margin-bottom: 20px;
    padding: 15px;
    background: #e7f3f1;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #50b3a2;
    color: #fff;
}


footer {
    text-align: center;
    padding: 10px 0;
    background: #50b3a2;
    color: #fff;
    width: 100%;
    bottom: 0;
}
